@import "tailwindcss";

@theme {
  --font-led: var(--font-led);
}

.text-stroke-white {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
